<div class="container">
  <div class="container-fluid mt-5">

    <%flash.each do |type, msg|%>
      <div class="alert alert-danger">
        <%=msg%>
      </div>
    <%end%>

    <h1>Se connecter</h1>
    <div class="container">
      <%=form_tag(sessions_path, method: 'post') do%>
        <div class="form-group mt-3">
          <label class="h3">Email</label>
          <%=text_field_tag 'email', '', require: true, class: 'form-control'%>
        </div>
        <div class="form-group mt-3">
          <label class="h3">Mot de passe</label>
          <%=password_field_tag 'password', '', require: true, class: 'form-control'%>
        </div>
        <div class="form-group mt-3">
          <%=check_box_tag 'remember_user'%>
          <label class="h5">Se rappeler de moi</label>
        </div>
        <%=submit_tag 'Se connecter', class: 'btn btn-primary mt-3'%>
      <%end%>
    </div>
  </div>
</div>
