<div class="container">
  <div class="container-fluid mt-5">

    <% flash.each do |type, msg| %>
      <div class="alert alert-danger">
        <%= msg %>
      </div>
    <% end %>

    <h1 class="display-3 mb-3"><%=@gossip.title%></h1>
    <h5 class="mb-2">Par <%=link_to "#{@gossip.user.first_name} #{@gossip.user.last_name}", { controller: 'user', action: 'show', id: @gossip.user.id }, class: "text-decoration-none"%></h5>
    <p>
      de <%=link_to "#{@gossip.user.city.name}", { controller: 'city', action: 'show', id: @gossip.user.city.id }, class: "text-decoration-none"%>
    </p>
    <%date = @gossip.created_at%>
    <p class="text-muted mb-4">Publié le <%=date.strftime('%d-%m-%Y')%></p>
    <h3 class="h3 text-center mb-5"><%=@gossip.content%></h3>
    <figure> 
      <blockquote class="blockquote">
        <p>Ҫa ne veut rien dire, mais dans le contexte, je trouvais ça approprié...</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Roi Loth dans <cite title="Kaamelott">Kaamelott</cite>
      </figcaption>
    </figure>
    <div class="d-flex">
      <button class="btn btn-warning" style="margin-right: 1rem;"><%=link_to 'Modifier', { controller: 'gossip', action: 'edit', id: @gossip.id }, class: 'text-dark text-decoration-none'%></button>
      <%= link_to "Supprimer", gossip_path(@gossip.id), :method => :delete, class: "btn btn-danger", data: { method: 'DELETE', confirm: "êtes-vous sûr?" } %>
    </div>
  </div>
</div>
