<div class="container">
  <div class="container-fluid mt-5 mb-5">

    <% flash.each do |type, msg| %>
      <div class="alert alert-success">
        <%= msg %>
      </div>
    <% end %>

    <h1>Tous les potins</h1>
    <p class="text-muted">Ici se trouvent tous les potins du site</p>
  </div>

  <div class="container text-center mb-5">
    <h2>Créer un potin</h2>
    <button class="btn btn-primary">
      <%=link_to 'Créer', { controller: 'gossips', action: 'new' }, class: "text-light text-decoration-none"%>
    </button>
  </div>

  <div class="container">
    <%Gossip.all.each do |g|%>
      <div class="card mb-2">
        <div class="card-body">
          <div class="container text-end">
            <h3 class="card-title text-start"><%=g.title%></h3>
            <span class="badge bg-primary rounded-pill"><%=g.comments.size%></span>
          </div>
          <h5 class="card-text text-muted"><%=g.user.first_name%> <%=g.user.last_name%></h5>
          <button type="button" class="btn btn-primary">
            <%=link_to 'Voir', { controller: 'gossips', action: 'show', id: g.id }, class: "text-light", style: "text-decoration: none;"%>
          </button>
        </div>
      </div>
    <%end%>
</div>
</div>

