<div class="container">
  <div class="container-fluid mt-5">

    <%#Info de publication%>
    <% flash.each do |type, msg| %>
      <div class="alert alert-info">
        <%= msg %>
      </div>
    <% end %>

    <%#Entête%>
    <h1 class="display-3 mb-3"><%=@gossip.title%></h1>
    <h5 class="mb-2">Par <%=link_to "#{@gossip.user.first_name} #{@gossip.user.last_name}", { controller: 'user', action: 'show', id: @gossip.user.id }, class: "text-decoration-none"%></h5>
    <p>De <%=link_to "#{@gossip.user.city.name.capitalize}", { controller: 'city', action: 'show', id: @gossip.user.city.id }, class: "text-decoration-none"%></p>

    <%date = @gossip.created_at%>
    <p class="text-muted mb-4">Publié le <%=date.strftime('%d-%m-%Y')%></p>

    <%#Contenu%>
    <h3 class="h3 text-center mb-5"><%=@gossip.content%></h3>

    <figure class="text-end"> 
      <blockquote class="blockquote">
        <p class="text-muted">Ҫa ne veut rien dire, mais dans le contexte, je trouvais ça approprié...</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Roi Loth dans <cite title="Kaamelott">Kaamelott</cite>
      </figcaption>
    </figure>

    <% if object_creator?(@gossip)%>
      <div class="d-flex">
        <button class="btn btn-warning" style="margin-right: 1rem;"><%=link_to 'Modifier', { controller: 'gossips', action: 'edit', id: @gossip.id }, class: 'text-dark text-decoration-none'%></button>
        <%= button_to "Supprimer", @gossip, :method => :delete, class: "btn btn-danger", data: { confirm: "êtes-vous sûr?" } %>
      </div>
    <%else%>
      <%if liked?(@gossip)%>
        <%=button_to "Je n'aime plus", like_path(@gossip.id), params: { id: @gossip.id, type: "Gossip" }, method: 'delete', class: 'btn btn-danger'%>
      <%else%>
        <%=button_to 'Liker', likes_path, params: { id: @gossip.id, type: "Gossip" }, method: 'post', class: 'btn btn-warning'%>
      <%end%>
    <%end%>

    <div class="container mt-4 text-end">
      <small class="text-muted">Likes</small>
      <span class="badge bg-warning rounded-pill"><%=@gossip.likes.size%></span>
    </div>

    <%#Formulaire de commentaire%>
    <div class="container-fluid text-end mt-4">
      <%= form_tag(gossip_comments_path(@id), method: 'post') do%>
        <%=text_field_tag 'gossip_id', @id, type: 'hidden', class: 'form-control' %>
        <div class="form-group">
          <%=text_area_tag 'content', '', required: true, class: 'form-control'%>
        </div>
        <div class="form-group mt-3">
          <%=submit_tag 'Commenter', class: 'btn btn-primary' %>
        </div>
      <%end%>
    </div>

    <%#Affichage des commentaires%>
    <div class="container-fluid">
      <h2 class="mt-4">Commentaires</h2>
      <div class="list-group list-group-flush">
        <%@gossip.comments.each do |c|%>
          <div class="row list-group-item">
            <% u = c.user %>
            <strong class="text-muted"><%="#{u.first_name} #{u.last_name}"%></strong>
            <p ><%=c.content%></p>
            <%if object_creator?(c)%>
              <div class="container text-end mb-3" style="width: 100%;">
                <%=link_to 'Modifier', edit_gossip_comment_path(@gossip.id, c.id), class: 'btn btn-secondary flex-end'%>
              </div>
            <%end%>

            <div class="container-fluid text-end">
              <div class="list-group" style="width: 25rem;">
                <%c.comments.each do |cc|%>
                  <div class="row list-group-item">
                    <% uu = cc.user %>
                    <strong class="text-muted"><%="#{uu.first_name} #{uu.last_name}"%></strong>
                    <p><%=cc.content%></p>
                    <%if object_creator?(cc)%>
                      <div class="container mb-3" style="width: 100%;">
                        <%=link_to 'Modifier', edit_gossip_comment_comment_path(@gossip.id, c.id, cc.id), class: 'btn btn-secondary flex-end'%>
                      </div>
                    <%end%>
                  </div>
                <%end%>
              </div>
            </div>

          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
