<div class="container mt-5">
  <div class="container-fluid">
    <h1 class="mb-2"><%=@city.name.capitalize%></h1>
    <h4 class="text-muted mb-5">Tous les potins de <%=@city.name.capitalize%></h4>
    <div class="container">
      <%@city.users.each do |u|%>
        <%u.gossips.each do |g|%>
          <div class="card mb-2">
            <div class="card-body">
              <h3 class="card-title"><%=g.title%></h3>
              <h5 class="card-text text-muted"><%=g.user.first_name%> <%=g.user.last_name%></h5>
              <div class="container text-end">
                <small class="text-muted">Comms</small>
                <span class="badge bg-primary rounded-pill"><%=g.comments.size%></span>
              </div>
              <div class="container text-end mt-3">
                <small class="text-muted">Likes</small>
                <span class="badge bg-warning rounded-pill"><%=g.likes.size%></span>
              </div>
              <div class="container d-flex">
                <button type="button" class="btn btn-primary" style="margin-right: 1rem;">
                  <%=link_to 'Voir', { controller: 'gossips', action: 'show', id: g.id }, class: "text-light", style: "text-decoration: none;"%>
                </button>
                <%if !object_creator?(g)%>
                  <%if liked?(g)%>
                    <%=button_to "Je n'aime plus", like_path(g.id), params: { id: g.id, type: "Gossip" }, method: 'delete', class: 'btn btn-danger'%>
                  <%else%>
                    <%=button_to 'Liker', likes_path, params: { id: g.id, type: "Gossip" }, method: 'post', class: 'btn btn-warning'%>
                  <%end%>
                <%end%>
              </div>
            </div>
          </div>
        <%end%>
    <%end%>

  </div>
</div>
