<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#Stylesheets%>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <%= link_to 'The Gossip Project', gossips_path, class: "navbar-brand"%>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to "L'équipe", team_index_path, class: "nav-link"%>
            </li>

            <li class="nav-item">
              <%= link_to "Contact", contact_index_path, class: "nav-link"%>
            </li>

            <% if logged_in?%>
              <li class="nav-item" style="margin-left: 1rem;">
                <%= button_to "Déconnexion", session_path(:id), method: 'delete', class: "btn btn-secondary"%>
              </li>
            <%else%>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 S'inscrire / Se connecter 
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><%= link_to "S'inscrire", new_user_path, class: "dropdown-item"%></li>
                    <li><%= link_to "Se connecter", new_session_path, class: "dropdown-item"%></li>
                </ul>
            <%end%>
            </li>
          <ul>
        </div>
      </nav>
    </header>
    <%= yield %>

    <%#Scripts bootstrap%>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
  </body>
</html>
